<h1>Products#index</h1>

<h3>All Products: </h3>
<ul> <!-- loops through products instance variable and displays the products and their details -->
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product) %> - $<%= product.price %> - Stock: <%= product.stock_quantity %>
    </li>
  <% end %>
</ul>
