
<h3>All Products: </h3>
<!-- loops through products instance variable and displays the products and their details -->
  <ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product) %> - $<%= product.price %> - Stock: <%= product.stock_quantity %> - Category: <%= product.category.name %> <!-- wraps each product title in a link to its corresponding show page-->
    </li>
  <% end %>
</ul>
